#dapp-dialog-container {
    position: fixed;
    z-index: 99999;
}


.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.9);
    display: flex;
    align-items: center;
    overflow: auto;
}

.dialog-box {
    position: relative;
    padding: 24px;
    opacity: 1;
    background-color: #0f0f0f;
    margin: auto;
}

.dialog-close {
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

.dialog-close:hover {
    color: #0cffcf;
}

.dialog-close:active {
    color: #078d74;
}

.mint-section {
    padding: 0;
    height: unset;
}

.mint-button:disabled {
    background-color: gray;
}