.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.75);
    z-index: 1000000;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
}

.dialog-box {
    margin: auto 0;
    background-color: rgb(15, 15, 15);
    border-color: white;
    border-style: solid;
    padding: 3.5em 2.6em 2em;
    border-width: 1px;
    overflow: hidden;
    height: calc(100% - 5.5em);
    display: flex;
    flex-direction: column;
    max-width: 49em;
}

.dialog-content {
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 1.3em;
}

.dialog-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.2em;
}

.dialog-h2 {
    font-size: 3em;
    font-weight: 500;
    padding-bottom: 0.1em;
    line-height: 1em;
}

.dialog-icon {
    margin: auto 1em;
    height: 2.2em;
}

.dialog-text {
    padding-bottom: 1.3em;
    margin-right: 0.5em;
}

.mint-link {
    text-decoration-line: underline;
    text-decoration-color: #0cffcf;
}

.dialog-buttons {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}

.dialog-button {
    margin: 10px 0;
    flex-grow: 1;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    padding: 0.65em;
    font-size: 1.14em;
    text-transform: uppercase;
}

@media only screen and (max-width: 450px) {
    .dialog-icon {
        margin: auto 0.5em;
        height: 1.7em;
    }

    .dialog-h2 {
        font-size: 2.2em;
        font-weight: 500;
        padding-bottom: 0.05em;
        line-height: 1em;
    }

    .dialog-box {
        margin: 0;
    }
}