button.crossmint-button {
    text-transform: none;
    overflow: visible;
    font: inherit;
    background-color: #8cffe1;
    font-weight: 600;
    padding: 0.38em 1.28em;
    font-size: 1.143em;
    line-height: 1.5em;
    color: #0f0f0f;
    display: inline-block;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    box-sizing: border-box;
}

button.crossmint-button > span {
    color: #0f0f0f;
}

button.crossmint-button:disabled {
    background-color: gray;
    cursor: default;
}