.modal-open {
    overflow: hidden !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(20, 20, 20, 0.75);
    padding-right: 1.4em;
    padding-left: 1.4em;
    z-index: 1000000;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
}

.modal-box {
    position: relative;
    flex-grow: 1;
    margin: 16px;
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    border-color: #0cffcf;
    border-style: solid;
    padding: 16px 16px 16px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    .modal-overlay {
        padding-right: 0;
        padding-left: 0;
    }

    .modal-box {
        margin: 0;
        border: 0;
    }
}

.modal-close {
    display: flex;
    position: sticky;
    top: 8px;
    left: 100%;
    cursor: pointer;
    margin-right: 2px;
    padding: 2px 0 0 1px;
    height: 32px;
    width: 32px;
    font-size: 32px;
    user-select: none;
}

@media only screen and (max-width: 420px) {
    .modal-close {
        margin: auto;
        left: initial;
        position: initial;
        padding: 1em 0 0 1px;
    }
}

.modal-close:hover {
    color: #0cffcf;
}

.modal-close:active {
    color: #078d74;
}