.staking {
    padding: 0 64px 64px;
}

.staking-title {
    font-size: 52px;
    font-family: 'Dharma Gothic', sans-serif;
}

.staking-tokens {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.staking-info {
    margin-top: 32px;
}

.staking-tokens-info {
    font-size: 24px;
    text-transform: uppercase;
}

@media only screen and (max-width: 450px) {
    .staking {
        padding: 32px 0 0;
    }
}