.token {
    border: 3px solid white;
    border-radius: 5px;
    width: 240px;
    display: flex;
    flex-direction: column;
    margin: 0 32px 16px 0;
    position: relative;
}

.token-mark {
    position: absolute;
    right: -24px;
    top: -8px;
    text-transform: uppercase;
    padding: 4px;
    background-color: #0cffcf;
    color: black;
    border: 1px solid rgb(100, 100, 100);
}

.staked .token-mark, .upgraded .token-mark {
    background-color: #FFF;
    color: black;
    border: 2px solid #0cffcf;
}

.token.staked {
    border-color: #0cffcf;
}

.token.bronze {
    border-color: #9E5840;
}

.token.silver {
    border-color: silver;
}

.token.gold {
    border-color: #F0BE7A;
}

.token-control {
    border-top: solid 3px white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(15, 15, 15);
}

.token-control-children {
    display: flex;
    flex-direction: column;
}

.stake-timer {
    padding: 8px 0 16px;
    text-align: center;
    font-size: 14px;
}

.token-pass {
    width: 150px;
    align-self: center;
}

.token-stake-button {
    text-transform: uppercase;
    border: 1px solid white;
    background-color: rgb(15, 15, 15);
    color: white;
}

.token-error {
    color: darkred;
}

.token-image {
    height: 240px;
}

.token-loading {
    height: 240px;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.token-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token-spinner {
    margin: 16px;
    width: 60px;
    height: 60px;
    border: 5px solid black;
    border-bottom: 5px solid #0cffcf;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.mint-token-h3 {
    color: #0cffcf;
}

@media only screen and (max-width: 750px) {
    .token {
        margin: 0 16px 32px;
        flex-grow: 1;
    }

    .token-stake-button {
        height: 64px;
    }

    .token-image {
        height: initial;
    }

    .token-pass {
        width: 80%;
    }

    .token-loading {
        width: initial;
        height: initial;
        position: relative;
    }

    .token-loading:before {
        margin-top: 100%;
        display: block;
        content: "";
        position: relative;
    }

    .token-loader {
        position: absolute;
    }

    .stake-timer {
        padding: 16px 0 32px;
        text-align: center;
        font-size: 16px;
    }

}

@media only screen and (max-width: 550px) {
    .token {
        margin: 0 0 16px;
    }

    .token-mark {
        font-size: 24px;

    }
}

@media only screen and (max-width: 450px) {
    .token {
        margin: 0 0 16px;
    }

    .token-mark {
        right: -8px;
        padding: 8px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}