.mint-section {
    padding-top: 5em;
    padding-bottom: 1.4em;
    height: initial;
}

.mint-icon {
    margin-right: .571em;
}

.mint-mint-p {
    color: #0cffcf;
    font-size: 1.143em;
    line-height: 1.4em;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.mint-wallet {
    display: flex;
    margin-bottom: 2em;
}

.mint-wallet-p {
    line-height: 1.4em;
}

.mint-info {
    max-width: 70em;
    margin-bottom: 4em;

}

.mint-h3 {
    display: inline;
}

.mint-buy-h4 {
    color: #0cffcf;
    width: 16.26em;
}

.mint-buy-c {
    margin-top: 2.65em;
}


.mint-buy {
    width: 24em;
}

.mint-amount {
    color: #0cffcf;
    background-color: rgb(15, 15, 15);
    padding-left: 1.8em;
    border-left: 1.1em solid transparent;
}

.mint-amount:focus {
    outline: none;
}

.mint-amount:disabled {
    color: #4F4F4F;
}

.mint-button {
    padding: 0.38em 1.28em;
    font-size: 1.143em;
    line-height: 1.5em;
}

.mint-button:disabled {
    background-color: gray;
}

.option {
    color: white;
}

.mint-line {
    height: 2px;
}

.mint-header {
    margin-right: 1em;
}

.mint-buy-h3 {
    margin-bottom: 1.2em;
}

.mint-buy-amount-w {
    width: initial;
}