.nav-claim:disabled {
  background-color: gray;
  border: 1px solid gray;
}

/* Ensures that buttons are rendered correctly on mobile */
.nav-claim_mobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav-claim {
  border: 1px solid white;
}

/* Ensures that the web3modal dialog is on top of all other elements */
#WEB3_CONNECT_MODAL_ID {
  position: fixed;
  z-index: 99999;
}

.no-width {
  width: unset;
}